<%= form_for @reported_issue do |f| %>
	<%= render partial: 'layouts/errors', locals: {object: @reported_issue} %>
	<%= f.label :chief_complaint, 'Cheif Complaint:' %>
	<%= f.text_area :chief_complaint, required: true %>
	<br>
	<br>
	<%= f.label :transportation_type, 'Transportation Type:' %>
	<%= f.select(:transportation_type, ['Driver', 'Pedestrian', 'Cyclist', 'Other'], { include_blank: true }) %>
	<br>
	<br>
	<%= f.label :street_address, 'Street Address:' %>
	<%= f.text_field :street_address, required: true %>
	<br>
	<br>
	<%= f.label :locality, 'City:' %>
	<%= f.text_field :locality, required: true %>	
	<br>
	<br>
	<%= f.label :region, 'State:' %>
	<%= f.text_field :region, required: true %>
	<br>
	<br>
	<%= f.label :postal_code, 'Zip Code:' %>
	<%= f.text_field :postal_code, required: true %>
	<br>
	<br>
	<%= f.label :category_id, 'Select a Category:' %>
	<%= f.collection_select :category_id, Category.all, :id, :name,  { include_blank: true }%>
	<br>
	<h4>Don't see the category you're looking for Create One!</h4>
	<%= f.fields_for :category do |c| %>
		<%= c.label :name %>
		<%= c.text_field :name %>
	<% end %>
	<br>
	<br>
	<%= f.submit 'Submit' %>
<% end %> 