<h1>All Reported Issues</h1>

<%= form_tag('/reported_issues', method: 'get') do %>
  <%= label_tag(:postal_code, 'Find an Issue by Zip Code:') %>
  <%= text_field_tag(:postal_code) %>
  <%= submit_tag('Search') %>
<% end %>
<br>

<% @reported_issues.map do |issue| %>
<ul>
	<li>
		<%= issue.chief_complaint %><br>
		<%= link_to 'Link to issue', category_reported_issue_path(issue.category, issue) %><br>
		<%= issue.locality %>, <%= issue.region %> <%= issue.postal_code %><br>
		Category: <%= link_to "#{issue.category.name}", category_path(issue.category_id) %>
	</li>
</ul>
<% end %>
<br>
<%= link_to_new_reported_issue_nested_or_non_nested %>