<h1>Reported Issue:</h1>
Chief Complaint:
<%= @reported_issue.chief_complaint %>
<br>
Transportation Type:
<%= @reported_issue.transportation_type %>
<br>
Street Address:
<%= @reported_issue.street_address %>
<br>
City:
<%= @reported_issue.locality %>
<br>
State:
<%= @reported_issue.region %>
<br>
Zip Code:
<%= @reported_issue.postal_code %>
<br>
Category:
<%= @reported_issue.category_name %>