<h1>Sign Up Here</h1>
<% if @user.errors.any? %>	
	<div id="error_explanation">
	<h2>
		<%= pluralize(@user.errors.count, "error") %> prohibited this issue from being saved:
	</h2>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
	  	<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<%= form_for @user do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name, required: true %>
	<br>
	<br>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
	<br>
	<br>
	<%= f.label :email %>
	<%= f.email_field :email, required: true %>
	<br>
	<br>
	<%= f.label :password %>
	<%= f.password_field :password, required: true %>
	<br>
	<br>
	<%= f.submit 'Sign Up' %>
<% end %>