<h1><%= @category.name %></h1>
<h4>Reported Issues:</h4>
<% @category.reported_issues.map do |issue| %>
	<ol>
		<li>
			Street Address: <%= issue.street_address %> <%= issue.locality %>, <%= issue.region %> <%= issue.postal_code %>
		</li>
	</ol?>
<% end %>
<br>
<%= link_to "See reported issues for #{@category.name}", category_reported_issues_path(@category) %>
<br>
<%= link_to 'Report a new issue', new_category_reported_issue_path(@category) %>