<!DOCTYPE html>
<html>
  <head>
    <title>RoadSpotter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Categories', categories_path %> - 
    <%= link_to 'All Reported Issues', reported_issues_path %> - 
    <%= link_to 'Log Out', logout_path, method: :delete %>
    <%= yield %>
  </body>
</html>
